/* Corpo*/

body {
    background-color: beige;
    margin: 0px;
}

/* Imagem da logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
    border-radius: 25px;
    background-color: white;
}

/* Menu de navegação */
.navbar ul {
    list-style-type: none;
    background-color: #9c201b;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: 0.3s
}

.navbar a:hover {
    background-color: rgb(32, 27, 27);
}

.navbar li {
    float: left;
}

/* Texto */
.tittle {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-bottom: 6px solid black;

}


.headline {
    color: #fff;
    text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 200%;
    font-family: Georgia;
}

.text {
    font-size: 100%;
    margin-left: 300px;
    margin-right: auto;
    padding-top: 0%;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Times New Roman';



}


/* Seção de Sobre nós*/
.about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
    border-bottom: 1px solid #9c201b;
    background-color: #9c201b;
    transition: 0.3s;
}

.about:hover {
    background-color: rgb(99, 32, 32);
}





/* Seção de Serviços */
.service {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
    border-bottom: 1px solid #9c201b;
    border-top: 1px solid #9c201b;
    background-color: #9c201b;
    transition: 0.3s;
    margin-top: 0;

}

.service:hover {
    background-color: rgb(99, 32, 32);
}


/* Seção de Contato*/
.contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
    border-top: 1px solid #9c201b;
    background-color: #9c201b;
    transition: 0.3s;

}

.contact:hover {
    background-color: rgb(99, 32, 32);
}
/* Links*/
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
}

/* Seção Preços*/
.prices {
    background-color: #9c201b;
    border: 5px solid #555;
}
.textprices{
    font-family:Helvetica;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: small;
}





/* Tabela */
.table {
    border: 5px solid #fffbfb;
    border-collapse: collapse;
    margin-left: 30%;
    font-size: medium;
    font-family: Verdana;
    color: silver;

}
td{
    border: 2px solid #fffbfb;
}
th{
    border: 2px dashed #fffbfb;
}

/* Botão*/
.button {
    background-color: silver;
    border-color: #000 solid 2px;
    border-radius: 25px;
    color: rgb(5, 5, 5);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Times New Roman' ;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
}
.button:hover{
    background-color: #b38181;
}

/* Formulario*/
.formbackground{
    margin-top: -20px;
    background-color: silver;
    border: #000 solid;
}
  input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  select {
    width: 20%;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    text-shadow: 5px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #ffffff;
    background-color: #f1f1f1;
    color:black;
    font-family: georgia;
    font-size: 90%;
  }
  textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: none;
}

label{
    color: black;
    text-shadow: 5px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #ffffff;
    font-size: 100%;
    font-family: Georgia;
}


